.event {
  position: absolute;
  width: 80%;
  background-color: #C6DAFC;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #768295;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
    font-weight: 700;
  }

  &:hover {
    font-weight: bold;
    background-color: red;
  }
}

.delete-event-btn {
  cursor: pointer;
  border: none;
}
