.event {
  position: absolute;
  width: 95%;
  background-color: #C6DAFC;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #768295FF;
  cursor: pointer;

  &__title {
    width: 100%;
    margin-right: auto;
    margin-bottom: 8px;
    font-weight: 700;
  }

  &__time {
    margin-right: auto;
    margin-bottom: 8px;
  }

  &__description {
    width: 100%;
  }

  &:hover {
    color: #FFFFFF;
    background-color: #08707B;
  }
}
