.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    background: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 17px 1px rgba(0,0,0,0.53);
  }
}

.create-event {
  display: flex;
  flex-direction: column;

  &__close-btn {
    margin-left: auto;
    transform: rotate(45deg) scale(2);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: transparent;
  }
}

.event-form {
  display: flex;
  flex-direction: column;

  &__field {
    padding: 5px 0;
    margin: 8px;
    border: none;
    border-bottom: 2px solid #ADD8E6;
    transition: all 200ms ease;
  }

  &__submit-btn {
    margin: 8px;
    margin-left: auto;
    border: none;
    color: #FFFFFF;
    background-color: #6495ED;
    padding: 8px 26px;
    border-radius: 8px;
    transition: all 500ms ease;
    cursor: pointer;

    &:hover{
      box-shadow: 0 0 15px -2px #00000087
    }
  }
}

input:focus {
  outline: none;
  border-bottom: 2px solid #0000FF;
}

textarea:focus {
  outline: none;
  border-bottom: 2px solid #0000FF;
}
