.header {
  display: flex;
  height: 60px;
  padding: 0 48px;
  align-items: center;
}

.create-event-btn {
  padding: 0 16px;
  border-radius: 20px !important;
  box-shadow: 8px 10px 23px -6px #00000099;

  &:hover {
    background-color: #F0FFFF;
    box-shadow: 8px 10px 23px 1px #00000099;
  }

  &__icon {
    margin-right: 8px;
    background: linear-gradient(to bottom right, #34A853, #4285F4, #FBBC05, #EA4335);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.navigation {
  &__today-btn {
    margin-left: 32px;
    padding: 0 16px;

    &:hover {
      background-color: #F1F3F4;
    }
  }

  &__nav-icon {
    font-size: 16px;
    margin-left: 20px;
  }

  &__displayed-month {
    margin-left: 10px;
  }
}
