.delete-event {
  width: 80%;
  background-color: white;
  position: absolute;
  bottom: -30px;
  right: -55px;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 5px 23px -3px rgba(0,0,0,0.6);
  z-index: 10;

  &__icon {
    margin-right: 15px;
    color: #768295;
  }
}